# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment folders
myenv/
venv/
.venv/

# Flask instance folder
instance/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/
*.swp
